/*
---- RESET CSS -----
*/
* {
    margin: 0;
    padding: 0;
    border:none;
    outline: none;
    background-image:none;
    box-sizing: border-box;
    background-color:transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
:root {

} */

/*
--- HEADER ---
*/
.header {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: linear-gradient(
        to right,
        rgba(0, 27, 206, 0.8),
        rgba(0, 27, 206, 0.5),
        rgba(0, 27, 206, 0.3),
        rgba(0, 27, 206, 0.2),
        rgba(0, 27, 206, 0.0)
        );
}

.header .container {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

    .header .logo {
    color: #991717;
    font-size: 60px;
    width: 90%;
    background: url('../img/globe2.png') no-repeat center;
}

.header .logo strong {
    letter-spacing: -9px;
}

.header .logo span {
    color: #efefef;
}

.header .logo em {
    font-size: 30px;
    margin-left: -25PX;
    padding-left: 10px;
    color: #101077;
    text-shadow: 1px 1px 1px rgba(255, 27, 0, 0.8);
}

.header .bg-container {
    background-color: #212121;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*
--- TOP NAVIGATION BAR ---
*/
.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .nav-bar a{
    padding: 10px;
    color: #efefef;
    font-weight: 600;
    font-size: 14px;
}
    
.header .nav-bar a {
    border-left: 1px solid rgba(222, 222, 222, 0.2);
    text-transform: uppercase;
}

.header .nav-bar a:last-child {
    border-right: 1px solid rgba(222, 222, 222, 0.2);
}

.header .nav-bar a:hover,
.header .search-bar {
    background-color:rgba(222, 222, 222, 0.8);
    color: #212121;
    transition: 300ms;
}
/*
--- TOP SEARCH BAR ---
*/
.header .search-bar {
    border-radius: 25px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .search-bar input {
    width: 200px;
    padding-left: 10px;
    color: #212121;
}

.header .search-bar input::placeholder {
    color: #212121;
}

.header .search-bar i {
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    color: #212121;
}
/*
--- COVER CONTAINER ---
*/

.content {
    margin-top: 40px;
}

.content .container {
    width: 95%;
    margin: 15px auto;
}
.content .cover {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*
--- HEADLINE CONTAINER  ---
*/
.cover .headline {
    background: url('../img/taxi.jpg') no-repeat center center;
    background-size: cover;
    width: 65%;
}

.headline .bg-headline {
    background-color: rgba(0, 0, 0, 0.3);
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.headline .bg-headline {
    padding: 30px;
}

.headline h3,
.headline a,
.headline p {
    padding-bottom: 5px;
    color: #efefef;
}

.headline a {
    font-size: 14px;
    color: #8ae1fc;
}

.headline a:hover {
    text-decoration: underline;
}

.headline h3 {
    font-size: 30px;
}
/*
---  SIDEBAR CONTAINER ---
*/
.cover .side-bar {
    background-color: #212121;
    height: 600px;
    width: 35%;
}

.cover .side-bar .aside-menu {
    border-bottom: 2px solid rgba(239, 239, 239, 0.3);
    height: 25%;
    padding: 5px 20px 5px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cover .side-bar .aside-menu:last-child {
    border: none;
}

.cover .side-bar .aside-menu img {
    width: 140px;
    height: 120px;
    padding-right: 10px;
}

.cover .side-bar .aside-menu h3,
.cover .side-bar .aside-menu p {
    padding-bottom: 5px;
    color: #efefef;
}

.cover .side-bar .aside-menu:hover {
    background-color: rgba(239, 239, 239, 0.2);
}

.cover .side-bar .aside-menu h3 {
    font-size: 20px;
}

.cover .side-bar .aside-menu p {
    font-size: 14px;
}

.economy .economy-container {
    height: 650px;
    background-color: #212121;
    width: 66%;
    display: flex;
    justify-content: center;
}

.economy .emphasis,
.economy .aside-bar {
    height: 100%;
    width: 50%;
    padding: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.economy .emphasis {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.economy .section-name {
    margin-top: 20px;
    font-size: 20px;
    width: 66%;
    padding: 10px;
    background-color: #212121;
    color: #efefef;
}

.economy .emphasis img {
    width: 95%;
}

.economy .emphasis h3 {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.economy .aside-bar .aside-menu {
    height: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.aside-bar .aside-menu:last-child {
    border: none;
}

.aside-bar .aside-menu img {
    width: 35%;
    padding-right: 20px;
}


