//CORES

$corPrincipal: #F7D6BB;
$corSecundaria: #EB9E60;
$corHoverSecundaria: #E68333;
$corBtn: #CC6919;
$corTexto: #FCF1E8;
$corPreto:  #212121;



// FONTES

$fontePrincipal: 'Poppins', sans-serif;