// FONTES
$fontePrincipal: Roboto, sans-serif;

// CORES 
$corTextoClaro: #fff;
$corBgPrincipal: #f5f6fa;
$corBgAzul: #182C61;
$corBtnVerde: #44bd32;

// SCREENS
$tabletSize: 1023px;
$mobileSize: 767px;
