* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    background: url('../img/numbers-bg.jpg') no-repeat center;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 640px;
}

.msg {
    position: absolute;
    top: 0px;
    width: 100%;
    margin-top: -50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.msg.error {
    background-color: #c96868;
}

.msg.success {
    background-color: #6bca73;
}

.bg-form {
    margin: 80px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    margin-top: 150px;
}

form {
    padding: 20px 10px;
    backdrop-filter: blur(3px);
    border-radius: 3px;
    border: 1px solid #fff;
}

input, h1, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    color: #212121;
}

input, button {
    border: 1px solid #bebebe;
    border-radius: 2px;
}

input.error {
    border: 2px solid #b95454;
    offset: red;
}

button {
    background-color: #2e85cc;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #2761ae;
    transition: 500ms;
}

input.vazio-ivalido {
    border: 2px solid red;
}